/* Adaptor rules for bootstrap */
.table-bordered > tbody > tr.wide-table-cell > td, .table-bordered > tbody > tr.wide-table-cell > th {
  border-width: 0em;
}

.table-bordered > tbody > tr.wide-table-cell {
  border: 1px solid #ddd;
}

table {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Beginning of Responsive Accessible Table CSS logic */
.wide-only {
  display: none;
}

.mobile-table-row-substitute span:first-child, .wide-as-table-header {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 40em) {
  /* Mobile table substitute styles */
  .mobile-table-row-substitute span:after {
      content: "\00a0";
      display: block;
      line-height: 1px;
      color: transparent;
  }

  .mobile-table-row-substitute:not(:last-child):after {
      content: "\00a0";
      display: block;
      line-height: 1em;
      color: transparent;
  }
}

@media screen and (min-width: 40em) {

  div.wide-as-table .wide-as-table-cell, div.wide-as-table .wide-as-table-header {
    border: .0125em solid #ccc;
    padding: .5em;
  }

  div.wide-as-table {
    width: 100%;
  }

  .wide-as-table {
    display: table;
  }

  .wide-as-table-row {
    display: table-row;
  }

  .wide-as-table-header {
    display: table-cell;
  }

  .mobile-only {
    display: none;
  }

  .wide-as-table-cell {
    display: table-cell;
    border: 1px solid #ccc;
    padding: .5em;
  }

  .wide-as-table-cell > td {
    display: inline;
    border: 0px !important;
  }
}
